<footer class="site-footer">

  <section class="footer-info">
    <div class="container">

      <h2>{{ site.title }}</h2>
      <p>{{ site.description }}</p>
      <p class="footer-govprinters">
        Gazettes from <a href="{{ site.source_attribution_link }}" target="_blank" rel="noopener">{{ site.source_attribution }}</a>.
      </p>

      <div class="row">
        <div class="col-sm-6">
          <ul class="list-unstyled">
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><a href="/about.html">About Open Gazettes</a></li>
            <li><a href="{{ site.s3_url }}/recently-added.atom" type="application/rss+xml" rel="alternate">Atom Feed</a></li>
          </ul>
        </div>

        <div class="col-sm-6">
          <ul class="list-unstyled">
            <li><a href="https://github.com/OpenGazettes/">Open Gazettes on GitHub</a></li>
            <li><a href="https://twitter.com/hashtag/GazetteLiberation" target="_blank">Follow the conversation on Twitter <img width="24px" src="{{ "/img/icons/twitter-hover.png" | prepend: site.baseurl }}" alt="Follow the conversation around OpenGazettes on Twitter" /></a></li>
          </ul>
        </div>
      </div>

    </div>
  </section> <!-- /.footer-info -->

  <section class="footer-credits">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <p>Who is a part of the <a href="https://twitter.com/hashtag/GazetteLiberation">#GazetteLiberation</a> campaign?</p>
        </div>
        <div class="col-sm-10">
          <a href="https://codefornigeria.org" target="_blank"><img src="{{ "/img/logos/cfNigeria.png" | prepend: site.baseurl }}" class="logo" alt="Code for {{ site.jurisdiction }}"></a>
          <a href="https://openup.org.za" target="_blank" rel="noopener"><img src="{{ "/img/logos/openup.svg" | prepend: site.baseurl }}" class="logo" alt="OpenUpZA"></a>
          <a href="https://codeforafrica.org/" target="_blank"><img src="{{ "/img/logos/cfafrica.png" | prepend: site.baseurl }}" class="logo" alt="Code for Africa"></a>
          <a href="https://investigativecenters.org/" target="_blank"><img src="{{ "/img/logos/ancir.png" | prepend: site.baseurl }}" class="logo" alt="ANCIR"></a>
        <a href="https://www.africanlii.org/" target="_blank"><img src="{{ "/img/logos/africanlii.png" | prepend: site.baseurl }}" class="logo" alt="AfricanLii"></a>
        </div>
      </div>
    </div> <!-- /.container -->
  </section> <!-- /.footer-credits -->

</footer>
