<form method="GET" action="{{ site.aleph_url }}/documents" class="search-form">
  {% if site.data.gazettes[site.jurisdiction_abbrev].search_collection %}
  <input type="hidden" name="filter:collection_id" value="{{ site.data.gazettes[site.jurisdiction_abbrev].search_collection }}">
  {% endif %}
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search the gazettes..." autocomplete="off" name="q">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
    </span>
  </div>
</form>
