<form method="GET" action="{{ site.aleph_url }}/documents" class="search-form">
  {% if site.data.gazettes[site.jurisdiction_code].search_collection %}
  <input type="hidden" name="filter:collection_id" value="{{ site.data.gazettes[site.jurisdiction_code].search_collection }}">
  {% endif %}
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search the gazettes..." autocomplete="off" name="q">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
    </span>
  </div>
</form>
<p class="sample-searches">
    Examples:
    <!-- ngRepeat: sample in metadata.app.samples --><span ng-repeat="sample in metadata.app.samples">
      <!-- ngIf: $last -->
      <a href="{{ site.aleph_url }}/documents?q=Country">Country</a>
      <!-- ngIf: !$last --><span ng-if="!$last">,</span><!-- end ngIf: !$last -->
    </span><!-- end ngRepeat: sample in metadata.app.samples --><span ng-repeat="sample in metadata.app.samples">
      <!-- ngIf: $last -->
      <a href="{{ site.aleph_url }}/documents?q=&quot;issue of new land title deed&quot;">"issue of new land title deed"</a>
      <!-- ngIf: !$last --><span ng-if="!$last">,</span><!-- end ngIf: !$last -->
    </span><!-- end ngRepeat: sample in metadata.app.samples --><span ng-repeat="sample in metadata.app.samples">
      <!-- ngIf: $last --><span ng-if="$last">or</span><!-- end ngIf: $last -->
      <a href="{{ site.aleph_url }}/documents?q=&quot;appointment of a liquidator&quot;">"appointment of a liquidator"</a>
      <!-- ngIf: !$last -->
    </span><!-- end ngRepeat: sample in metadata.app.samples -->
    ,
      or
    <a href="{{ site.aleph_url }}/documents/sources">browse sources</a>
    .
</p>
