---
layout: default
---
<article class="jurisdiction">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="row">
    <div class="col-sm-6">
    {% include search.html %}
    </div>
  </div>

  <div class="post-content">
    <div class="row">
      <div class="col-sm-8">
        <div class="row jurisdiction-stats">
          {% assign years = site.data.gazettes[page.jurisdiction].years | reverse %}
          {% for thisyear in years %}

            <!--<div class="col-md-4">
              <h2><a href="{{ thisyear }}">{{ thisyear }}</a>
              <small>{{ site.data.gazettes.stats.counts[page.jurisdiction].available.year[thisyear] }} {% if site.data.gazettes.stats.counts[page.jurisdiction].available.year[thisyear] == 1 %}gazette{% else %}gazettes{% endif %}</small></h2>
            </div>-->

            <div class="col-md-4 col-sm-6 col-xs-12 status-box">
            <!-- <div class="status-border"> -->
              <div class="status-stats">
                <h2><a href="{{ thisyear }}">{{ thisyear }}</a></h2>
                <p class="status-up"><i class="fa fa-signal" aria-hidden="true"></i> {{ site.data.gazettes.stats.counts[page.jurisdiction].available.year[thisyear] }} {% if site.data.gazettes.stats.counts[page.jurisdiction].available.year[thisyear] == 1 %}gazette{% else %}gazettes{% endif %}</p>
              </div>
              <div year="{{ thisyear }}" class="monthly-chart"></div>
            <!-- </div> -->
            </div>


          {% endfor %}
        </div>

      </div>

      <div class="col-sm-4">
          {% include resources.html %}
      </div>

    </div>
  </div>

</article>

<script>
  var collection = {{ site.data.gazettes.stats.counts[page.jurisdiction].available | jsonify }};
</script>
